.encabezado {
  margin-top: 200px;
  margin-bottom: 200px;
}

.wrapper {
  width: :100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.wrapperlegal {
  width: :100%;
  margin-top: 160px;
  margin-bottom: 100px;
}

.iconos {
  margin-top: 100px;
  margin-bottom: 100px;
  background: #f0f0f0;
}

body {
  background: white;
  margin: 0px;
}

h1 {
  font-size:35px;
  font-family: 'Nixie One', cursive;
  margin: 50px;

}

h3 {
  font-size: 42px;
  font-family: 'Cultive Mono', monospace;
  text-align: center;
}

p {
  font-size: 20px;
  font-family: 'Cutive Mono', monospace;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;

}

label {
  font-size: 20px;
  font-family: 'Cutive Mono', monospace;
  margin-left: 0px;
  color:#83878a;
  text-align: center;

}

.boton {
  background-color: #72e4af;
  border: none;
  color: white;
  padding: 5px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 170px;
}

.final {

  width: :100%;
  height: 700px;
  background-color: #f0f0f0;

}

.titulo-formulario {
  font-size: 42px;
  font-family: 'Cultive Mono', monospace;
  margin-left: 0px;
  color: #83878a;
  text-align: center;
}

form {
  text-align: center;
}

.copy {
  text-align: center;
  color: white;
  width: :50px;
  height: 50px;
  background-color: #474747;
  font-size: 15px;
  font-family: 'Cutive Mono', monospace;
}

@media (min-width: 768px) {
  h1 {
    font-size:80px;
    font-family: 'Nixie One', cursive;
    margin: 150px;
}
p {
  font-size: 25px;
  font-family: 'Cutive Mono', monospace;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}
